@import './root/styles/reset';

:root {
  --blue: #00a6ff;
  --orange: #ff5f00;
  --orange-secondary: #ff7d00;
  --white: #ffffff;
  --text-color: #333;
}

#root {
  background-color: #e7e7e7;
}

.main {
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
  gap: 40px;
  width: 100%;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}
